.sec {
  background-color: #d7d4db;
  overflow: hidden;
}

.CS {
  background-color: #dab7a5;
}



.CS svg {
  position: relative;
  display: block;
  width: calc(190% + 1.3px);
  height: 158px;
}


.computer {
  align-items: left;
  width: 1000px;
}



.projectGrid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-self: right;
  column-gap: 50px;
  overflow: hidden;
  border-radius: 10px;

}

.photo {
width: 500px;
  max-width: 700px;
  max-height: 500px;
  border-radius: 20px;
  object-fit: cover;
}


