.sec {
  background-color: #d7d4db;
  overflow: hidden;
}

.CS {
  background-color: #dab7a5;
}

.CS svg {
  position: relative;
  display: block;
  width: calc(190% + 1.3px);
  height: 158px;
}

.computer {
  align-items: left;
  width: 1000px;
}

.projectContainer {
  display: grid;
  
}

.containerProject {
  justify-self: right;
  max-width: 550px;
  overflow: hidden;
  border-radius: 10px;
}

.photo {
  max-width: 700px;

  border-radius: 20px;
  object-fit: contain;
}


