.logo {
    flex-shrink: 0;
  
    font-size: var(--text-md);
    font-weight: 900;
    line-height: 1;
  
    width: 45px;
    height: 45px;
  
    display: flex;
    align-items: center;
    justify-content: center;
  
    background: var(--background);
    border-radius: 4px;
  
    margin: 1.8rem 0;
  
    span {
      font-size: var(--text-md);
      font-weight: 900;
      line-height: 1;
      color: var(--brand);
    }
  }