.btnViewProjects {
  cursor: pointer;
  padding: 0.9em 1.4em;
  min-width: 120px;
  height: auto;
  font-size: var(--text-xs);
  font-weight: 500;
  transition: 0.5s;
  background-size: 280% auto;
  background-color: var(--brand);
  border: none;
  border-radius: 40px;
  color: hsla(360 100% 100% / 1);
}

.btnViewProjects:hover {
  background-color: rgb(98, 32, 47);
}

.btnViewProjects:is(:focus, :focus-visible, :active) {
  outline: none;
}




