.about {
  display: grid;
  grid-template-columns: 1fr 300px;
  gap: 2.4rem;

  @media (max-width: 900px) {
    grid-template-columns: 1fr;
  }
}



.sec {
  background-color: #dab7a5;
 
}

.aboutText {
  margin-bottom: 2.4rem;
  font-weight: 400;
  font-size: var(--text-s);
}

.links {
  display: flex;
  align-items: center;
  gap: 1.6rem;
}

.linksText {
  display: flex;
  align-items: center;
  gap: 0.8rem;
  font-size: var(--text-sm);
  font-weight: 600;
  color: var(--brand);
}

.highlightFirstLetter:first-letter {
  background: var(--brand);
  padding: 1rem;
  border-radius: 0.4rem;
  color: var(--background);
  font-size: var(--text-md);
  font-weight: bold;
  margin-right: 0.6rem;
  float: left;
}

.heroBackground {
  position: absolute;
  bottom: 40px;
  right: 30px;
  z-index: -1;
  width: 100%;
  height: 100%;
}

