.backDrop {

    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 99;
    height: 100vh;
    padding: 4.8rem 1.2rem;
    background-color: rgba(0, 0, 0, 0.35);
    backdrop-filter: blur(38px);
    overflow-y: scroll;
    display: flex;
    justify-content: center;
    cursor: pointer;
}