.contactSec {
  background-color: #b8d0df;
  overflow: hidden;
}

.blobContainer {
  background-color: #d7d4db;
}

.blobContainer svg {
    position: relative;
    display: block;
    width: calc(120% + 1.3px);
    height: 100px;
}


.formGrid {
    display: grid;
    grid-template-rows: auto 1fr;
}

.inputs {
    width: 600px;
}

.contactWrapper {
    max-width: 700px;
    margin: auto;
  
    border-radius: 1.2rem;
  }
  
  .contactTitle {
    font-size: var(--text-2xl);
    text-align: center;
    font-weight: 900;
    line-height: 1;
  
    span {
      color: var(--brand2);
    }
  
    @media (max-width: 768px) {
      font-size: var(--text-xl);
    }
  }
  
  .contactCopy {
    text-align: center;
    font-weight: 400;
    margin: 4rem 0;
  
    a {
      color: var(--brand2);
    }
  
    a:hover {
      text-decoration: underline;
    }
  }
  
  .contactEmail {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.8rem;
    width: fit-content;
    font-size: var(--text-md);
    margin: auto;
    transition: 0.25s color;
  }
  
  .contactEmail:hover {
    color: var(--brand2);
  }
  
.links {
  display: flex;
  justify-content: center;
}
