.NavContainer {
  display: grid;
grid-template-columns: 1fr 1fr;
  height: 8rem;

  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 20;
  -webkit-backdrop-filter: blur(12px);
  backdrop-filter: blur(12px);
  font-weight: bold;

}

.NavOptions {
  display: grid;
  grid-auto-flow: column;
  text-align: center;
  align-self: center;
  justify-self: right;
  font-family: Inter, sans-serif;
  list-style: none;
  font-size: var(--text-xs);
  display: flex;
  gap: 2.5rem;
  align-items: center;
}
