.menuIcon {
  width: 35px;
  height: 35px;
  color: var(--background-opaque);

  z-index: 10000;
}

.menu {
  display: grid;
  z-index: 1000000;
  width: 100%;
  max-width: 100vw;
  height: fit-content;
  border-radius: 1.2rem;
  overflow: hidden;
  margin-top: 700px;
  cursor: auto;
}

.iconContainer {
  display: grid;
  align-content: center;
  justify-content: center;
  position: absolute;
  right: 7.2rem;
  margin: 1.8rem 0;
  background-color: transparent;
}

button,
button:focus,
button:active {
  border: none;
  outline: none;
  padding: 0;
  color: black;
}
button span {
  position: relative;
}
.NavOptions {
  display: grid;
  list-style: none;
  position: relative;
  top: 1200px;
  right: 150px;
  height: 100vh;
  width: 100vw;
  z-index: 1000;
  align-items: center;
  justify-content: center;
  padding-top: 10px;
  padding-bottom: 10px;
  border-radius: 1rem;
  backdrop-filter: blur(15px);
  background-color: rgba(218, 183, 165, 0.6);
}

.NavOptions li {
  font-size: 2.2rem;
}
