.menuIcon {
  width: 35px;
  height: 35px;
  color: var(--background-opaque);
}

.iconContainer {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  backdrop-filter: blur(15px);
  background-color: rgba(218, 183, 165, 0.6);
  display: grid;
  align-content: center;
  justify-content: center;
  position: absolute;
  right: 20px;
  display: grid;
}

.NavOptions {
  display: grid;
  list-style: none;
  position: relative;
  top: 280px;
  height: 400px;
  width: 28rem;
  z-index: 1000;
  align-items: center;
  justify-content: center;
  padding-top: 10px;
  padding-bottom: 10px;
  border-radius: 1rem;
  backdrop-filter: blur(15px);
  background-color: rgba(218, 183, 165, 0.6);
}

.NavOptions li {
  font-size: 2.2rem;
}

.menuContainer {
  position: relative;
  padding-top: 10px;
  padding-bottom: 10px;
}
