.logo {
  flex-shrink: 0;

  font-size: var(--text-md);
  font-weight: 900;
  line-height: 1;

  width: 50px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--background);
  background: var(--background-dark);
  border-radius: 50%;
  margin: 1.8rem 0;

  span {
    font-size: var(--text-md);
    font-weight: 900;
    line-height: 1;
    color: var(--brand);
  }
}
